<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CrediCash_Dev" connectionString="Server=101.53.145.10,1234;Database=EW_LMS;Persist Security Info=True;User ID=PUAPI;Password=P@isa@udh@r;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
		<!--<add name="CrediCash_Dev" connectionString="Server=101.53.145.10,1234;Database=Junoon_PU;Persist Security Info=True;User ID=PUAPI;Password=P@isa@udh@r;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="SmtpServer" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="EmailTo" value="namrata.singh@junooncapital.in"/>
		<add key="EmailFrom" value="support@earlywages.in"/>
		<add key="EmailPassword" value="pxgo pdwo csym nojk"/>
		<add key="EmailBcc" value="namrata.singh@junooncapital.in"/>
		<add key="Emailcc" value=""/>
		<add key="RelationshipManager" value="Sachin Srivastava"/>
		<add key="MobileNo" value="9311343335"/>
		<add key="EMail_ID" value="nodal.gro@junooncapital.com"/>
		<add key="product_name" value="EarlyWages.in"/>
		<add key="ReminderDay" value="5"/>
		<add key="IsDev" value="false"/>
		<add key="Subject" value="Friendly Reminder: Your EMI Payment Is Overdue"/>
		<add key="EndPointSMS" value="https://control.msg91.com/api/v5/flow"/>
		<add key="EMIReminderConsentTemplate" value="680cd6c7d6fc0501312d3662"/>
		<add key="Authkey" value="421013Af30K6FH662dfce9P1"/>
		<add key="MobileNoFor_SMS" value="9569260331"/>
		<add key="contactOverDueSMS" value="9569260331"/>
		<add key="LogPath" value="D:\JC Projects\Early_Wages_Project_New\EW_OVERDUE_JOB\EW_OVERDUE_JOB\log"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
