<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CrediCash_Dev" connectionString="Server=163.227.92.189,1234;Database=SALORA_LIVE;Persist Security Info=True;User ID=salora_user;Password=salora@2026;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
		<!--<add name="CrediCash_Dev" connectionString="Server=101.53.145.10,1234;Database=Junoon_PU;Persist Security Info=True;User ID=PUAPI;Password=P@isa@udh@r;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="SmtpServer" value="email-smtp.ap-south-1.amazonaws.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="EmailTo" value="namrata.singh@junooncapital.in"/>
		<add key="EmailFrom" value="paisaudhar@saloracapital.com"/>
		<add key="EmailPassword" value="BBSoX8ZN9pSeiscdIpxmF0Q/O7JvfbxhkR+1L54/QvS1"/>
		<add key="EmailBcc" value="namrata.singh@junooncapital.in"/>
		<add key="Emailcc" value=""/>
		<add key="RelationshipManager" value="Mr. Prakash Parihar"/>
		<add key="MobileNo" value="9289119401"/>
		<add key="EMail_ID" value="grievance@saloracapital.com"/>
		<add key="product_name" value="Fynto"/>
		<add key="ReminderDay" value="5"/>
		<add key="IsDev" value="false"/>
		<add key="Subject" value="Friendly Reminder: Your EMI Payment Is Overdue"/>
		<add key="EndPointSMS" value="https://control.msg91.com/api/v5/flow"/>
		<add key="EMIReminderConsentTemplate" value="698452c4b98c600a9b16ec84"/>
		<add key="Authkey" value="455926AevRqESc684fcba7P1"/>
		<add key="MobileNoFor_SMS" value="9569260331"/>
		<add key="contactOverDueSMS" value="9569260331"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
